body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

h1, h2{
  font-family: 'Libre Baskerville', Times, sans-serif;
  font-weight: 700;
}

.slide {
  height: 100vh;
  overflow-y: hidden;
  padding: 60px 0;
}

.slide-1 {
  padding-top: 25%;
  background-color: #333;
  color: #DDD;
}

.title {
  color: #FFF;
}

.nav-link-container {
  position: absolute;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a.nav-link {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

/* Ranking graph */
.rank-container {
  overflow-y: scroll;
  height: 400px;
}

.rank-container
.rank-country-container {
  background-color: #eee;
  background-size: 50%;
  margin: 10px 0;
  padding: 10px;
  font-size: 12px;
  position: relative;
  z-index: 0;
}

.rank-container
.rank-country-container.active
.rank-country-bg {
  background-color: #800000;
  color: #fff;
}

.rank-container
.rank-country-container
.rank-country-bg {
  background-color: #aaa;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rank-container
.rank-country-container
.rank-country-number {
  display: inline-block;
  padding-right: 10px;
  z-index: 1;
}

.rank-container
.rank-country-container
.rank-country-name {
  font-weight: bold;
  display: inline-block;
}

.rank-container
.rank-country-container
.rank-country-quantity {
  display: inline-block;
  float: right;
}
